services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/var/www
    working_dir: /var/www
    # ports:
    #   - "5173:5173"
    # command: >
    #   sh -c "npm run dev & php-fpm"
    networks:
      - laravel
    depends_on:
      - mysql

  nginx:
    image: nginx:1.27-alpine
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.4
    container_name: laravel_mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
      # - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - laravel
  # node:
  #   image: node:24
  #   container_name: laravel_node
  #   working_dir: /var/www
  #   volumes:
  #     - ./:/var/www
  #   command: sh -c "npm run dev"
  #   ports:
  #     - "5173:5173"

volumes:
  mysql_data:

networks:
  laravel:
